.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.page__container {
  padding-top: 4rem;
  width: 100vw;
  height: calc(100vh - 4rem);
  display: flex;
}

.form__container {
  height: 400px;
  width: 400px;
  background: linear-gradient(217deg, skyblue, #222);
  border-radius: 50%;
  box-shadow: 0 4px 15px #888;
}

@media screen and (max-width: 768px) {
  .form__container {
    height: 350px;
    width: 350px;
    padding-top: 4rem;
  }
}
