button {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem 1.3rem 2rem;
  margin: 0.8rem;
  text-decoration: none;
  /* height: 4rem; */
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: 'Darker Grotesque', sans-serif;
  text-transform: lowercase;
  transition: transform 200ms;
}
/* button:active {
  transform: scale(1.1);
  transition: transform 100ms;
} */
.button__primary {
  background-color: #f7dba7;
  color: black;
  box-shadow: 0 0 5px gray;
}
button:disabled {
  opacity: 0.3;
  cursor: default;
}
button:hover:not([disabled]) {
  transform: scale(1.05);
  transition: transform 100ms;
}
/* .button__modal__close {
  align-self: flex-end;
} */
.button__success {
  background-color: var(--color-bg);
  color: green;
  font-size: 2rem;
}

.button__warning {
  background-color: var(--color-bg);
  color: red;
  font-size: 2rem;
}
.button__register {
  display: flex;
}
.button__login {
  display: flex;
}

.link__button {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 0.8rem;
  text-decoration: none;
  height: 3rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7dba7;
  color: black;
  transition: transform 200ms;
}
.link__button:active {
  transform: scale(1.1);
  transition: transform 100ms;
}

.link__button:hover {
  transform: scale(1.05);
  transition: transform 100ms;
}
