.carousel {
  display: flex;
  align-items: center;
  margin: 1rem;
  height: 50vh;
  width: 80vw;
  overflow: scroll;
}

.carousel img, button {
  margin: 0;
  width: 4rem;
  height: auto;
}

.carousel button {
  margin: 1px;
  border: none;
  padding: 0;
}

#img-main {
  animation: fadeIn 300ms ease-out;
  height: 100%;
  width: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}