.carousel {
  display: flex;
  align-items: center;
  margin: 1rem;
  height: 80vh;
  width: 80vw;
  overflow: scroll;
  flex: 8;
}

.carousel img {
  margin: 0;
  height: 100%;
  width: auto;
}

.carousel__button {
  height: 100%;
  width: auto;
  padding: 0;
}

.main__img {
  animation: fadeIn 300ms ease-out;
  box-shadow: 0 0 20px black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
