div.fileContainer {
  background-color: #fbf3ea;
  box-shadow: none;
}

div.fileContainer p {
  font-size: 1.3rem;
}
div.fileContainer div.errorsContainer {
  font-size: 1.3rem;
}

div.fileContainer button.chooseFileButton {
  font-size: 1.3rem;
}

div.fileContainer p,
div.errorsContainer,
button.chooseFileButton {
  font-size: 1.3rem;
}

div.uploadPictureContainer .deleteImage {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

/* TODO */
div.uploadPicturesWrapper > div {
  flex-wrap: nowrap !important;
  width: 70vw !important;
  overflow: scroll !important;
}

div.fileContainer .uploadPictureContainer {
  width: 10rem;
}
