.auth__container button {
  background: transparent;
}

/* .auth__container:after {
  content: ' ';
  display: block;
  background: rgb(38, 172, 105);
  height: 220px;
  width: 220px;
  transform: rotate(60deg);
  position: absolute;
  z-index: -1;
} */

.auth__parent__container {
  position: fixed;
  right: 0;
  top: 5rem;
}

.landing__toggle__button {
  background: none;
  height: 2rem;
  /* width: auto; */
  margin: 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  color: darkblue;
}

.auth__parent__container input,
button {
  box-shadow: 0 0 3px grey;
}
.register {
  display: none;
}

.login {
  height: 350px;
}

@media screen and (max-width: 768px) {
  .register,
  .login {
    display: none;
  }
}
