.form button:hover:enabled {
  transform: scale(1.1);
  transition: 0.7s;
}

form button {
  background: linear-gradient(#e7ddcb, #555);
  box-shadow: 0 0 30px black;
}

form button:disabled {
  opacity: 0.5;
}
