/* .auth__container button {
  background: transparent;
} */

.auth__parent__container {
  position: fixed;
  right: 0;
  top: 5rem;
}

.landing__toggle__button {
  background: none;
  height: 2rem;
  /* width: auto; */
  margin: 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  color: darkblue;
}

.landing__toggle__button:hover:not([disabled]) {
  transform: scale(1);
  box-shadow: none;
}

.form {
}

.form--landing {
  padding-top: 3rem;
}

.form__error {
  position: absolute;
  top: 0;
  width: 95%;
}

.form-item {
  height: 4rem;
}

.auth__parent__container input,
button {
  box-shadow: 0 0 3px grey;
}

.register {
  display: none;
}

.register .home__auth__container {
  height: 325px;
}

.login {
  height: 350px;
  min-width: 300px;
}

@media screen and (max-width: 768px) {
  .register,
  .login {
    display: none;
  }
}
