.game__side__container {
  height: 100%;
  flex: 1;
}

.game {
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .game {
    flex-direction: column;
  }

  .game__side__container {
    display: flex;
    flex-direction: row;
    flex: 0;
  }
}
