.gameRequest__container {
  padding: 6rem 0 3rem 0;
  height: 100%;
}

.gameRequest__block {
  width: 400px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
