input {
  border: none;
  border-radius: 1rem;
  padding: 0.8rem;
  background-color: #eee;
  outline: none;
  margin-bottom: 0.8rem;
  width: 15rem;
  box-shadow: 0 0 30px #555;
}

input:after {
  content: 'hello world';
  width: 20vw;
  height: 20vh;
  background-color: red;
  transform: rotate(40deg);
}

input::placeholder {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.3rem;
}
