input {
  /* border-color: lightgrey; */
  border: none;
  padding: 0.5rem;
}

input:after {
  content: 'hello world';
  width: 20vw;
  height: 20vh;
  background-color: red;
  transform: rotate(40deg);
}

input::placeholder {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.3rem;
}
