.login__navbar {
  height: 10vh;
  background-color: gray;
}

.login__form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  height: 600px;
  width: 400px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.login__form__input {
  border-radius: 10px;
  margin-bottom: 20px;
  height: 40px;
  outline: none;
}

.login__form button {
  align-self: center;
  height: 40px;
  border-radius: 10px;
  width: 100px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.7s;
}

.login__form button:hover:enabled {
  transform: scale(1.1);
  transition: 0.7s;
}
