.map__selector {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  border: thick solid #32a1ce;
  box-shadow: 0 0 6px black;
  z-index: 10;
  margin: 0.5rem;
}

.map__sm {
  width: 26rem;
  height: 15rem;
  transition: all 300ms;
}

.map__md {
  width: 61.2rem;
  height: 36rem;
  transition: all 300ms;
}

.mapbox {
  border-radius: 12px;
}

.map__pin {
  /* font-size: 2rem; */
  color: rgb(243, 12, 12);
  filter: drop-shadow(0 0 40px white);
  box-shadow: 0 0 10px black;
  border-radius: 50%;
  border: 2px solid black;
}

.map__toggle {
  position: absolute;
  z-index: 999;
  /* transform: translate(-23px, -23px); */
  padding: 1rem;
  border-radius: 50%;
  /* height: 2.5rem; */
  box-shadow: 0 0 5px #333;
}

.map__toggle:hover:not([disabled]) {
  transform: none;
}

.map__guess {
  position: absolute;
  z-index: 999;
  right: 0;
}
.map__arrows {
  padding: 0.3rem;
}

@media screen and (max-width: 768px) {
  .map__sm {
    width: 13rem;
    height: 8rem;
    transition: all 300ms;
  }

  .map__md {
    width: 22rem;
    height: 26rem;
    transition: all 300ms;
  }
}
