.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.navbar a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: white;
}
.links a {
  margin-right: 0.5rem;
}
