.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 500;
}
.navbar__link {
  color: black;
  text-decoration: none;
  margin-left: 0.5rem;
  transition: color 100ms;
}
.navbar__link:visited {
  text-decoration: none;
  color: black;
}
.navbar__link:hover,
.navbar__link:visited:hover {
  transition: color 100ms;
  color: grey;
}
.links {
  display: flex;
}
.links a {
  margin-right: 1rem;
}

.navbar__icon {
  margin-top: 0.3rem;
}
