.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
}
.navbar a {
  text-decoration: none;
  margin-left: 0.5rem;
  transition: color 100ms;
}
.navbar a:hover {
  transition: color 100ms;
  color: grey;
}
.links a {
  margin-right: 0.5rem;
}
