
.progress {
  height: 2rem;
  background-color: #7F534B;
  width: 80vw;
  border-radius: 20px;
  box-sizing: border-box;
}

.progress-bar {
  height: 2rem;
  background-color: lightblue;
  border-radius: 20px;
}
