
.progress {
  height: 2rem;
  background-color: lightblue;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
}

.progress-bar {
  height: 2rem;
  background-color: rgba(106, 106, 216, 0.651);
  border-radius: 20px;
}
