/* BASE */
@import './base/_reset.css';
@import './base/_typography.css';
@import './base/_body.css';

/* LAYOUT */
@import './layout/_containers.css';

/* COMPONENTS */
@import './components/_carousel.css';
@import './components/_navbar.css';
@import './components/_modal.css';
@import './components/_progressBar.css';
@import './components/_maps.css';
@import './components/_forms.css';
@import './components/_buttons.css';
@import './components/_inputs.css';
@import './components/_leaderboards.css';
@import './components/_social.css';
@import './components/_gameRequests.css';
@import './components/_multiplayerGames.css';
@import './components/_home.css';
@import './components/_spinner.css';
@import './components/_gameSummary.css';
@import './components/_crowdsource.css';
@import './components/_gamePlay.css';

/* CONFIG */
@import './config/_colors.css';

/* move to /vendors/_mapbox.css */
.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
